:root {
	--primaryColor: #af9a7d;
	--mainTurquoise: rgb(97, 204, 231);
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkBlue: #0d2150;
	--lightBlue: rgb(86, 58, 245);
	--darkGrey: #cfcfcf;
	--mainOrange: rgb(248, 78, 11);
	--mainSpacing: 2px;
	--tqColor: #56ca90d0;
	--lightShadow: 2px 5px 3px 0px rgba(19, 18, 18, 0.5);
	--whiteShadow: 2px 2px 3px 0px rgba(250, 248, 248, 0.685);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
	--mainTransition: all 0.3s linear;
}
.App {
	text-align: center;
}

.nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-flex {
	width: 100%;
	height: 80px;
	box-shadow: var(--darkShadow);
}
.nav-inline-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-inline-flex > li {
	text-decoration: none;
	list-style: none;
	margin-left: 20px;
	margin-right: 30px;
}

.active {
	border-bottom: 3px solid var(--darkBlue);
	margin-top: 8px;
}
.banner-header {
	color: var(--darkBlue);
	font-weight: 500;
	font-size: 4rem;
}
.banner-sub-header {
	color: var(--darkBlue);
	font-weight: 300;
	font-size: 1.8rem;
}

@media screen and (max-width: 992px) {
	.nav-inline-flex > li {
		text-decoration: none;
		list-style: none;
		margin-left: 3px;
		margin-right: 5px;
	}

	.nav-flex {
		/* width: fit-content; */
		height: 80px;
		box-shadow: var(--darkShadow);
	}
	.banner-header {
		font-size: 3rem;
	}
	.banner-sub-header {
		font-size: 1rem !important;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
