:root {
	--primaryColor: #af9a7d;
	--mainTurquoise: rgb(97, 204, 231);
	--mainWhite: #fff;
	--offWhite: #f7f7f7;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--darkBlue: #219580;
	--darkBlue: #0a6e23;
	/* --darkBlue: #7e3232; */
	/* --darkBlue: #0d2150; */
	--lightBlue: rgb(86, 58, 245);
	--darkGrey: #cfcfcf;
	--mainOrange: rgb(248, 78, 11);
	--mainRed: rgb(243, 9, 87);
	--mainYellow: rgb(243, 191, 21);
	--mainSpacing: 2px;
	--tqColor: #56ca90d0;
	--lightShadow: 2px 5px 3px 0px rgba(162, 150, 150, 0.5);
	--whiteShadow: 2px 2px 3px 0px rgba(40, 117, 109, 0.634);
	/* --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5); */
	--darkShadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.2);
	--mainTransition: all 0.3s linear;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {

	text-decoration: none !important;
}
.margin-top{
	margin-top: 80px;
}
.sticky-navbar{
	top:0;
	position: sticky;
	position: -webkit-sticky;
	background-color: rgb(255, 254, 254);
	/* background-color: #0a6e23; */
	z-index: 9999;

}
.nav-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	overflow: hidden;
	/* margin-bottom: 20px; */
	height: 80px;
	/* position: fixed; */
	/* overflow-y: hidden; */
	z-index: 999;
	box-shadow: var(--darkShadow);
}
.nav-flex ul {
	right: 0;
	top: 0;
}
.nav-inline-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-inline-flex > li {
	text-decoration: none;
	list-style: none;
	margin-left: 20px;
	margin-right: 30px;
}
.drawer {
	display: none;
	background-color: #0a6e23;
	width: 360px;
	position: relative;
	align-self: flex-end;
	border-bottom-left-radius: 26px;
	border-top-left-radius: 26px;
	border-bottom-right-radius: 26px;
	top:0;
	position: sticky;
	position: -webkit-sticky;
	z-index: 1000000;
}
.drawer-item {
	text-align: center;
	color:#fff !important
}

.nav-active {
	border-bottom: 4px solid var(--darkBlue);
	margin-top: 8px;
}
.banner-header {
	color: var(--darkBlue);
	font-weight: 500;
	font-size: 4rem;
}
.banner-sub-header {
	color: var(--darkBlue);
	font-weight: 300;
	font-size: 1.8rem;
}
.user-dropdown-menu{
 width: 100px;
 /* he: 50px; */
 /* background-color: var(--mainWhite); */
 /* border: 1px solid var(--mainBlack); */
 /* z-index: 2; */
 /* min-width: 150px; */
 /* padding: 12px; */
 /* margin-left: 12; */
 position: absolute;
 overflow-x: hidden;
 z-index: 1000000;
 margin-top: 75px;
 /* flex-direction: column; */
 border: 1px solid #e5e5e5;
 background-color: white;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}
.dropdown-item:hover{
	cursor: pointer;
}

.user-area{
	background-color: #0a6e23;
	color: var(--mainWhite);
	border-radius: 50%;
	width: 50px;
	height: 50px;
}


.spinner-style{
	justify-content: center;
	align-items: center;
	margin-left: auto;

}


.footer-bottom{
	bottom:0;
	/* position:sticky;
	position: -webkit-sticky; */
	/* width: 100%; */
	/* z-index: -100; */
	position: relative


}

.footer-style{
	/* margin-top: 100px; */
	/* position:absolute; */
	/* display: block; */
	/* background-blend-mode: screen; */
	/* background-image: url("./images/footer-wave-1.svg"); */

	/* background-size: cover; */
	/* padding: 100px; */
	/* position: relative; */
	/* background-size: contain; */
	/* width: 100%; */

	/* background-repeat: no-repeat; */
	/* background-size: auto; */
	
	/* left:0; */
	/* bottom:0; */
	/* right:0; */
}
.footer-text{
	color:var(--mainBlack);
	/* top: 78px; */
	/* position: absolute; */
	/* margin-top: 11,5rem !important; */
	/* margin-left: 24px; */
	margin-top: auto;
	margin-bottom: 15px;
	position: relative
	/* position: relative; */
	/* bottom: -250px; */
	/* margin-left: auto; */
	/* margin-right: auto; */
;


}
/***
hostel and homestel images
*/
.hostel-img {
	height: 200;
	width: 300;
}
.card-img :hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.image-gallery {
	width: 100%;
	height: 30%;
}
.image-gallery-slide img {
	width: 100%;
	height: 50%;
	/* max-height: 80vh; */
	object-fit: cover;
	overflow: hidden;
	object-position: center center;
}
.fullscreen .image-gallery-slide img {
	/* height: 100vh; */
}
.residence {
	box-shadow: var(--lightShadow);
	padding: 0px;
	width: 300px;
	box-sizing: border-box;
	height: 350px;
}
.residence:hover{
	box-shadow: var(--whiteShadow);
	transition: var(--mainTransition);
	
}
.top-svg-detail-page{
	z-index: -2;
	/* position: relative; */



}
.detail-component{
	/* position: absolute; */
	
}
.facility-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.facility-names{
	flex:70%
}
.facility-count{
	flex:30%
}
.details-residence-bg {
	background-color: var(--mainWhite);
	padding: 12px;
}
.search-box {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.search-box > input {
	width: 585px;
	padding: 12px;
	border-radius: 8px;
	/* margin-right: 20px; */
	border: 4px solid var(--darkBlue);
}
.location-info {
	background-color: rgba(112, 8, 138, 0.6);
	padding: 20px 40px;
	color: var(--mainWhite);
	min-height: 250px;
	top: 10px;
	right: 50px;
}

.search-icon {
	position: relative;
	left: -35px;
	top: 16px;
	padding: 4px;
}
.suggestions-area {
	text-align: center;
	box-shadow: var(--lightShadow);
	border: 12px;
	/* width: 450px; */
	background-color: rgb(252, 251, 251);
	margin-left: auto;
	border-radius: 50px;
	margin-right: auto;
	margin-top: 5px;
	/* z-index: 1000; */
}
.suggest-list {
	color: var(--mainBlack);
}
.suggest-list:hover {
	cursor: pointer;
}
.inner-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.star-color {
	color: var(--mainYellow);
}
.flex-display {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}
.flex-display-s {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 5px;
	align-content: center;
}
.details-header {
	font-weight: 500;
	font-size: 3.2rem;
	color: var(--mainOrange);
	z-index: 1;
	position: relative;
	margin-top:25;
}

.hostel-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-self: flex-start;
	flex-wrap: wrap;
	gap: 15px;

	/* width: calc(100% + 12px); */
}

.r-details-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.warning-box{
	border: 2px solid #adb7b0;
}
.warning-text{
	font-size: 20px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(170, 164, 164);
}

.center-center {
	justify-content: center;
	align-items: center;
	justify-self: center;
}

.r-name {
	color: var(--darkBlue);
	font-weight: 500;
	font-size: 25px;
}

.nav-bars {
	display: none;
	margin-right: 12px;
}
.user {
	border: 3px solid var(--darkBlue);
	border-radius: "50%";
	padding: 10px;
}

.iframe-class{
	width: 600px;
	height: 450px;
}

.contact-card{
	padding:20px;
	position: relative;
	background-color: rgb(3, 66, 28);
	border-radius: 5px;
	margin-top: 30px;
	width: 550px;
	height: auto;
	box-shadow: var(--lightShadow);
	margin-left: 60px;


}
.contact-list{
	display: flex;
	justify-items: center;
	align-items: center;
	/* justify-content: center; */
	justify-content: space-between;
	color:rgb(224, 219, 219);
	font-weight: 500;
}
.contact-list-right{
	/* flex:50%; */
	
}
.contact-list-left{
	/* flex:50%; */
}
.contact-center{
	color:#e5e5e5;
}


/* .svg-banner{
	position: absolute;
	right: 0;
	width: 100%; 
	z-index: -1;
} */

@media screen and (max-width: 992px) {
	.nav-inline-flex {
		display: none;
	}
	.nav-profile{
		display:none;
	}
	.nav-bars {
		display: block;
		margin-right: 12px;
	}
	.nav-flex {
		/* width: fit-content; */
		height: 80px;
		box-shadow: var(--darkShadow);
	}
	.drawer {
		transition: all 1.3ms ease-in;
		display: block;
		/* margin-top: 12px; */
		margin-left: auto;
		z-index: 10000;
		background-image: linear-gradient(
			to bottom,
			var(--darkblue),
			var(--lightBlue)
		);
	}
	.user-dropdown-menu{
		margin-top: 0;
	}
	.drawer-item {
		display: block;
		padding:8px;
		color: #fff !important;
		justify-content: center;
	}
	.banner-header {
		font-size: 2.2rem;
	}
	.banner-sub-header {
		font-size: 1rem !important;
	}
	.search-box > input {
		flex: 1;
		margin-right: 0px;
	}
	.suggestions-area {
		width: auto;
	}
	.details-header {
		font-size: 2.3rem;
	}
	.footer-text{
		margin-top: 9.5rem !important;
		margin-left: 13px;
	}
	.image-gallery {
		width: 100%;
		height: 30%;
	}
	.warning-box{
		/* border: 1px solid; */
	}
	.warning-text{
		font-size: 12px;
	}
	.contact-card{
		padding:10px;
		width: 350px;
		height: auto;
		box-shadow: var(--darkShadow);
		margin-left: 20px;
	
	
	}
	
.iframe-class{
	width: 350px;
	height: 250px;
	margin-top: 12px;
}
}

@media screen and (max-width:667){
	.iframe-class{
		width: 400px;
		height: 250px;
		margin-top: 12px;
	}
}

@media screen and (max-width: 280px) {
	.drawer {
		width: 240px;
	}
	.residence{
		width: 250px;
	}
	.suggest-list{
		width: fit-content;
	}
	.contact-card{
		padding:8px;
		width: 250px;
		height: auto;
		box-shadow: var(--darkShadow);
		margin-left: 20px;
	
	
	}
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
